* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    --Pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);

    font-size: 62.5%;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    min-height: 100vh; /*REVISAR ISSO*/
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--Pale-blue);
    position: relative;
}

/* CONTEÚDO INTEIRO*/

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /*REVISAR ISSO*/
    max-width: 45.0rem; /*REVISAR ISSO*/
    background-color: white;
    border-radius: 2.0rem;
    overflow: hidden; /*REVISAR ISSO*/
}

/* CONTEÚDO DO TEXTO*/

.text-content {
    padding: 7%;
    text-align: center;
}

.title {
    color: var(--Dark-blue);
    font-weight: 900;
    font-size: 2.8rem;
    margin-bottom: 2.0rem;
}

.text-content p.subtitle {
    color: var(--Desaturated-blue);
    font-size: 1.6rem;
    margin-bottom: 2.5rem;
}

/* CONTEUDO DO ANNUAL PLAN*/

.plan-box {
    background-color: var(--Very-pale-blue);
    border-radius: 1.2rem;
    display: flex;
    padding: 2.5rem;
    align-items: center;
    justify-content: space-between;
}

.plan-box-left {
    display: flex;
    align-items: center;
    text-align: left;
}

.plan-box-left div {
    margin-left: 2.0rem;
}

.plan-box-left div h5 {
    color: var(--Dark-blue);
    font-weight: 900;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.plan-box-left div p {
    color: var(--Desaturated-blue);
    font-size: 1.6rem;
}

.plan-box a {
    font-weight: 900;
    color: var(--Dark-blue);
    font-size: 1.6rem;
}

.plan-box a:hover {
    text-decoration: none;
    color: var(--bright-blue);
}

/*BOTÕES DE PAGAMENTO*/

a.proceed-btn {
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    border-radius: 1.2rem;
    color: var(--Very-pale-blue);
    background: var(--bright-blue);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: 3.5rem;
    margin-bottom: 3.0rem;
    transition: background-color .3s ease;
}

a.proceed-btn:hover {
    background-color: var(--Desaturated-blue);
}

a.cancel-btn {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--Desaturated-blue);
    font-weight: 900;
    margin-bottom: 2.0rem;
    transition: color .3s ease;
}

a.cancel-btn:hover {
    color: var(--Dark-blue);
}
